/作夥直排 Csharp ver/bin/Release
/作夥直排 Csharp ver/bin/Debug/output
/作夥直排 Csharp ver/bin/Debug/temp
pandoc.exe
/作夥直排 Csharp ver/bin/Debug/log
/作夥直排 Csharp ver/bin/Debug/pandoc.exe
bin
obj
/Packages
.vs/
/TestResults
/Setup/Debug
/Setup/Release