<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChoHoe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="作夥直排.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <ChoHoe.Properties.Settings>
            <setting name="CalibrePath" serializeAs="String">
                <value>C:\Program Files\Calibre2</value>
            </setting>
            <setting name="ChineseConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToTriditional" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplaceImg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertMobi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmbedFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IfChangePageDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugBookIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KindlegenPath" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="UseCalibre" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PandocPath" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="Batch_ToTriditional" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_ReplaceImg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_PageDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_EmbedFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_IfChangePageDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_ChineseConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_ConvertMobi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_RemoveCss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_ReplaceTwPunctuation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomizedCSS" serializeAs="String">
                <value />
            </setting>
            <setting name="kepubifyPath" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="Batch_ConvertKepub" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_DONOTVerticalize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_RemoveStylesheet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Batch_AddCustomizeCSS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting_UseBuiltinIMG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting_CustomizedIMGPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Batch_TurncateTitle" serializeAs="String">
                <value>False</value>
            </setting>
        </ChoHoe.Properties.Settings>
        <作夥直排.Properties.Settings>
            <setting name="CalibrePath" serializeAs="String">
                <value>C:\Program Files (x86)\Calibre2</value>
            </setting>
            <setting name="ChineseConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToTriditional" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplaceImg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertMobi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmbedFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IfChangePageDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugBookIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KindlegenPath" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="UseCalibre" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PandocPath" serializeAs="String">
                <value>\</value>
            </setting>
        </作夥直排.Properties.Settings>
    </userSettings>
</configuration>
