<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="作夥直排.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <作夥直排.Properties.Settings>
            <setting name="CalibrePath" serializeAs="String">
                <value>C:\Program Files (x86)\Calibre2</value>
            </setting>
            <setting name="ChineseConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToTriditional" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReplaceImg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertMobi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmbedFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IfChangePageDirection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugBookIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KindlegenPath" serializeAs="String">
                <value>\</value>
            </setting>
            <setting name="UseCalibre" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PandocPath" serializeAs="String">
                <value>\</value>
            </setting>
        </作夥直排.Properties.Settings>
    </userSettings>
</configuration>
